@media only screen and (max-width: 478px) {
  .slider-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .arrow {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    margin: 0 1rem;
    width: 800px;
    height: 400px;
    aspect-ratio: 4/3;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  .image.fade-in {
    opacity: 1;
  }
}
