@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "./styles/index.css";
* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #2a2a2a;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.content {
  width: 100%;
  height: fit-content;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}
.burger-nav {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  padding: 0rem;
  opacity: 0;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.burger-nav.open {
  max-height: 500px;
  padding: 1rem;
  opacity: 1;
}

@media only screen and (max-width: 478px) {
  .wrapper {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .display-none {
    display: none;
  }

  .header {
    width: 90%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
  }
}

@media only screen and (min-width: 478px) {
  .wrapper {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .display-none {
    display: none;
  }

  .header {
    width: 90%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
  }
  .display-none {
    display: flex;
  }
  .burger-display {
    display: none;
  }
  .burger-nav {
    display: none;
  }
  .wrapper {
    width: 820px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about-image-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1024px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about-image-wrapper {
    width: 100%;
  }
}
.header {
  font-family: "Montserrat", sans-serif;
}